<?xml version="1.0" encoding="UTF-8"?>
<configuration status="ERROR">

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/hippodrome.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5p %logger{1}: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="all">
        <appender-ref ref="FILE"/>
    </root>
</configuration>